/* =========================
   FOOTER
========================= */

.footer{

    background:#08101f;

    padding:80px 20px 40px;

    text-align:center;

}

.footer-content{

    max-width:900px;

    margin:auto;

}

.footer-logo{

    width:140px;

    margin-bottom:20px;

}

.footer h2{

    color:#ffffff;

    font-size:42px;

    font-weight:700;

    margin-bottom:12px;

}

.footer-tagline{

    color:#F97316;

    font-size:22px;

    font-weight:600;

    margin-bottom:10px;

}

.footer-motto{

    color:#cbd5e1;

    font-size:18px;

    letter-spacing:2px;

    margin-bottom:45px;

}

/* =========================
   BUTTONS
========================= */

.footer-actions{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    flex-wrap:wrap;

    margin-bottom:50px;

}

.footer-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    padding:16px 30px;

    border-radius:50px;

    background:#1f2937;

    color:white;

    text-decoration:none;

    font-size:17px;

    font-weight:600;

    transition:.35s ease;

}

.footer-btn i{

    color:#F97316;

    font-size:20px;

}

.footer-btn:hover{

    background:#F97316;

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(249,115,22,.35);

}

.footer-btn:hover i{

    color:white;

}

.admin-btn{

    border:2px solid #F97316;

}

/* =========================
   DIVIDER
========================= */

.footer-divider{

    width:120px;

    height:3px;

    background:#F97316;

    border-radius:20px;

    margin:10px auto 30px;

}

/* =========================
   COPYRIGHT
========================= */

.copyright{

    color:white;

    font-size:18px;

    margin-bottom:10px;

}

.footer-quote{

    color:#94a3b8;

    font-style:italic;

    font-size:17px;

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    .footer {

        padding: 60px 20px 30px;

    }


    .footer-logo {

        width: 110px;

    }

    .footer h2{

        font-size: 25px;

        line-height: 1.25;

    }

    .footer-tagline{

        font-size: 16px;

        line-height: 1.25;

    }

    .footer-motto{

        font-size: 14px;

        letter-spacing: 1px;

        margin-bottom: 30px;

    }

    .footer-actions{

        flex-direction:column;

        gap:18px;

    }

    .footer-btn{

        width: 100%;

        max-width: 100%;

        font-size: 15px;

    }

    .copyright {

        font-size: 14px;

    }


    .footer-quote {

        font-size: 14px;

    }

}

